<br>
<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Blocipedia is a resource for sharing wikis with your friends or coworkers!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Fosters Collaboration</h2>
    <p>Blocipedia will facilitate the exchange or ideas</p>
  </div>
  <div class="col-md-4">
    <h2>Simple to Use</h2>
    <p>Blocipedia has a simple, yet intuitive UX/UI</p>
  </div>
  <div class="col-md-4">
    <h2>Stable Platform</h2>
    <p>Blocipedia always delivers when you need the info.</p>
  </div>
</div>