 <%= form_tag charges_path do %>
   <h4>Click the button to upgrade to Premium Account!</h4>
   <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" 
           data-key="<%= @stripe_btn_data[:key] %>"
           data-amount="1500" 
           data-description="Enter Text Here" 
           data-locale="auto"></script>
 <% end %>